*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f8f2f2;
    
    

}
header,footer{
    background-color: #f8f2f2;
    color: #9f5e12;
    width: 100%;
    border: 1px solid #0f5433;
    border-radius: 4px;
    
     
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 22px;
    padding:30px 0;
    
}

header h2{
    font-size: 20px;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #9f5e12;
    font-size: 18px;
    padding: 0 15px;
    text-transform: capitalize;
    
}
button{
    background-color:#f8f2f2 ;
    color: #9f5e12;
    border-radius: 5px;
    border: 1px solid #0f5433;
    }
    nav ul li a:hover{
        color: black;
        text-decoration: underline;
        
    }
    button:hover{
        color: black;
    }



