.scrolling-text {
    background-color: #0f5433;
    color: white; 
    font-size: 1.4rem;
    font-family: Georgia, serif;

 }

.navbar {
    background-color: #d0f5e3;
}
.navbar-brand img {
    height: 40px;
}
.nav-link {
    color: #0f5433 ;
    font-size: 1.3rem;
    font-weight: bold;
}
.nav-link:hover {
    color: #9f5e12;
}
.btn-get-in-touch {
    background-color: #0f5433;
    color: #fff;
    border: none;
}
.btn-get-in-touch:hover {
    background-color: #9f5e12;
    color: #fff;
}
.dropdown-menu{
    background-color: #d0f5e3;
    color: #0f5433;
    font-weight: bold;
}


.dropdown-item:hover{
    background-color: #9f5e12;
    color: white;
    transition: 0.2s;
}


.dropdown .nav-link:hover{
    color: #9f5e12;
    
}